.introduction{
    background-color: whitesmoke;
    display: flex;
    padding: 10px;
    padding-left: 20px;
 
}
.introduction p{
    font-size: 20px;
    
}
.introduction span{
    font-size: 25px;
}
.icaro{
    width: 17rem;
    height: 16rem;
    border-radius: 5px
}
.introduction .my_person{
    flex-direction: ;
    margin-left: 20rem;
}
.developer h2{
    border-left: 5px solid green; /* Borda esquerda verde */
    padding-left: 10px;
}
.developer{
   margin-left: 20px;
   padding-left: 5px;
}
.my_skills{
    display: flex;
}
.my_skills div{
    display: block;
    padding: 20px;
}