
:root{
    --Azul-claro: ;
}
body{
 scroll-behavior: smooth;
 font-family: 'Kanit', sans-serif;
}
p{
    font-size: 20px;
}
.introduction {
    background-color: rgb(39, 146, 18);
    display: flex;
    padding: 10px;
    /* padding-left: 20px; */
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0; /* Remover o espaçamento à esquerda para essa seção */
    color: white;
}

.introduction p {
    font-size: 20px;
    margin-left: 10px;
}

.introduction span {
    font-size: 25px;
    margin-left: 10px;

}
.introduction h1 {
    /* font-size: 25px; */
    margin-left: 10px;

}
.icaro {
    width: 15rem;
    height: 14rem;
    border-radius: 5px;
}
.introduction .description span span{
    margin-left: 0px;
}
.introduction .my_person {
    margin-left: 20rem; 
}
@media (max-width: 767px) {
    .introduction{
        padding: 5px;
        padding-left: 10px;
    }
    .icaro{
        width: 10rem;
        height: 9rem;
    }    
    .introduction span {
        font-size: 20px;
    }   
    .introduction p {
        font-size: 15px;
    } 
    .introduction .my_person {
        margin-left: 1rem;
    }
}
.icaro {
    width: 15rem;
    height: 14rem;
    border-radius: 5px;
}
.developer h2 {
    border-left: 5px solid green; /* Borda esquerda verde */
    padding-left: 10px;
    /* color: ; */
}

.developer {
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 5px;
    /* justify-content: center!important;
    align-items: center!important;
    justify-content: center!important; */
}
.developer ul{
    margin-left: 0!important;
}
.developer ul li{
    list-style: none;
    font-size: 20px;
    margin-left: 0!important;
}
.my_skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas com a mesma largura */
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 20px;
    justify-items: center; /* Centraliza cada item (skill) dentro da grid */
    align-items: center; /* Alinha cada item verticalmente no centro */
    max-width: 1200px; /* Limita a largura máxima da grid */
    margin: 0 auto; /* Centraliza a grid horizontalmente */
}
.my_skills div .imagens{
    display: flex;
    padding-right:5px;
}
.my_skills div .imagens img{
    width: 3rem;
    height: 3rem; 
}
.my_skills div .imagens2 img{
    width: 3rem;
    height: 3rem; 
}
.my_skills div .imagens .php_image{
    width: 5rem;
    height:3rem; 
}
.my_skills .language1 {
    background-color: #f8f9fa; /* Cor de fundo clara para as skills */
    padding: 20px;
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
    transition: transform 0.3s ease; /* Transição suave para o efeito hover */
    background-color: #f8f8f8;

}

.my_skills .language1:hover {
    transform: translateY(-10px); /* Efeito de elevação ao passar o mouse */
}

.my_skills i {
    font-size: 40px;
    margin-bottom: 10px; /* Espaçamento entre o ícone e o texto */
    color: #007bff; /* Cor azul para os ícones */
}

.my_skills strong {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Cor escura para o texto */
}

.my_skills p {
    font-size: 15px;
    color: #666; /* Cor mais suave para o texto descritivo */
    margin-top: 10px;
}

.my_projects img{
    border-radius: 5px;
    width: 70rem!important;
    height: 30rem;
    margin: 0 auto;
}
.great_works{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.great_works a{
    display: block;
    margin-top: 10px;
}

.great_works a button{
    border: 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
.great_works a button:hover{
    background-color: black;
    transition: ease-in-out 0.5s;
}

/* Responsividade */
@media (max-width: 767px) {
    .my_skills {
        grid-template-columns: 1fr; /* Para telas pequenas, as skills ficam em uma coluna */
    }

}
.great_works{
    padding-bottom: 10px;
}
/* Modal*/

/* Estilo do Modal */
.custom_modal {
  display: none; /* Inicialmente oculto */
  position: fixed;
  z-index: 1; /* Fica sobre outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilita rolagem se necessário */
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com transparência */
  padding-top: 60px; /* Espaço de 60px no topo */
}

/* Modal Content (a imagem no modal) */
.custom_modal_content {
  margin: auto;
  display: block;
  width: 80%; /* 80% da largura da tela */
  max-width: 900px; /* Largura máxima de 700px */
}

/* Estilo para o botão de fechar */
.close_modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close_modal:hover,
.close_modal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.custom_modal_caption {
  margin: 20px;
  font-size: 18px;
  color: #f1f1f1;
  text-align: center;
  font-weight: bold;
}

/* Estilo dos itens do projeto */
.project_item {
  text-align: center;
  margin-bottom: 20px;
}

.project_item img {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.project_item img:hover {
  transform: scale(1.05);
}

.project_item a button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.project_item a button:hover {
  background-color: black;
}


/* Estilo do Modal */
.custom_modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1; /* Fica sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilita rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com transparência */
    padding-top: 60px; /* Espaço de 60px no topo */
  }
  
  /* Modal Content (a imagem no modal) */
  .custom_modal_content {
    margin: auto;
    display: block;
    width: 80%; /* 80% da largura da tela */
    max-width: 900px; /* Largura máxima de 700px */
  }
  
  /* Estilo para o botão de fechar */
  .close_modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close_modal:hover,
  .close_modal:focus {custom_modal_content
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .custom_modal_caption {
    margin: 20px;
    font-size: 18px;
    color: #f1f1f1;
    text-align: center;
    font-weight: bold;
  }
  
  /* Estilo dos itens do projeto */
  .great_works {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .great_works img {
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .great_works img:hover {
    transform: scale(1.05);
  }
  
  .great_works a button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .great_works a button:hover {
    background-color: black;
  }
  

/*FOOTER*/
.footer {
    background-color: #333; /* Cor de fundo escura */
    color: white; /* Texto branco */
    padding: 20px 0; /* Espaçamento em cima e embaixo */
    text-align: center; /* Alinha o texto ao centro */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 14px; /* Tamanho da fonte */
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
/*RESPONSIVIDADE*/
@media (min-width: 576px) and (max-width: 768px) {
    .my_person .icaro{
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    padding-bottom: 10px;

    }
    .introduction{
    padding: 15px;
    height: 20rem;
    display: flex;
    }
    .introduction .description span span{
        margin-left: 10px;
    }
    .my_projects img{
        border-radius: 5px;
        width: 20rem!important;
        height: 12rem;
        margin: 0 auto;
        }
        .custom_modal_content {
            margin: auto;
            display: block;
            width: 80%; /* 80% da largura da tela */
            max-width: 900px; /* Largura máxima de 700px */
          }
}

