@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.navegador-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navegador-container img {
    height: 50px; /* Ajuste conforme necessário */
}

.aslistas-container {
    list-style-type: none;
    display: flex;
    margin-left: auto; 
    padding: 0;
}

.lista-list {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.lista-list a {
    text-decoration: none;
    color: black;
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    transition: color 0.3s ease, font-size 0.5s ease-in-out; 
}

.lista-list:hover a {
    color: gold;
    font-size: 17px;
}
.principal-container {
    padding: 20px;
}

.secao-container {
    margin-bottom: 40px;
    display: inline-flex;
} 

.trabalho-container {
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.trabalho-container div {
    margin-bottom: 20px;
    display: inline-flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.rosario-container, .crud-container, .amigo-container {
}

.contato-container {
    margin-bottom: 40px;
}

.imagens-container img {
    margin-right: 10px;
}

.pe-container {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}
